<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Киа́ну Чарльз Ривз</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Киа́ну Чарльз Ривз</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tom_cruze/">Том Круз</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/kianu/">Киа́ну Чарльз Ривз</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ddepp/">Джон Кри́стофер (Джо́нни) Депп II</a>
                </li>
            </ul>
        </div>
    </nav>
            </ul>
        </div>
    </nav>

<!-- Карточка Киану Ривза -->
        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <img src="{{ url_for('static', filename='image/Kianu.jpg') }}" class="img-fluid rounded mb-4" alt="Киа́ну Чарльз Ривз">
            </div>
            <div class="col-md-12">
                <h1>Киа́ну Чарльз Ривз</h1>
                <p>Киа́ну Чарльз Ривз родился 2 сентября 1964 года в Бейруте, Ливан. Он является канадским актёром, продюсером и музыкантом. Наиболее известен своими ролями в фильмах "Матрица", "Джон Уик" и "Скорость".</p>
                <p>Ривз работал с такими известными кинорежиссёрами, как Стивен Фрирз, Гас Ван Сент, Фрэнсис Форд Коппола и Бернардо Бертолуччи. В 2013 году сам дебютировал в качестве режиссёра, сняв фильм о боевых искусствах «Мастер тай-цзи».</p>
            </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>