<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Джон Кри́стофер (Джо́нни) Депп II</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Джон Кри́стофер (Джо́нни) Депп II</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tom_cruze/">Том Круз</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kianu/">Киа́ну Чарльз Ривз</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/ddepp/">Джон Кри́стофер (Джо́нни) Депп II</a>
                </li>
            </ul>
        </div>
    </nav>
            </ul>
        </div>
    </nav>

<!-- Карточка Джонни Деппа -->
        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <img src="{{ url_for('static', filename='image/DDepp.jpg') }}" class="img-fluid rounded mb-4" alt="Джон Кри́стофер (Джо́нни) Депп II">
            </div>
            <div class="col-md-12">
                <h1>Джон Кри́стофер (Джо́нни) Депп II</h1>
                <p>Джонни Депп родился 9 июня 1963 года в Оуэнсборо, Кентукки, США. Он является американским актёром, продюсером и музыкантом. Наиболее известен своими ролями в фильмах Тима Бёртона, а также образами капитана Джека Воробья в серии фильмов «Пираты Карибского моря».</p>
                <p>Джонни Депп является обладателем и номинантом многочисленных кинонаград и премий, в том числе и премии «Золотой глобус» за роль Суини Тодда в фильме Тима Бёртона «Суини Тодд, демон-парикмахер с Флит-стрит».</p>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>